/* I have experimented with CSS Grid  */

@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400");
/* General styles*/

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  border-radius: 0.25rem;
  text-align: center;
  display: inline-block;
  transition: all 0.3s;
}

a:hover {
  opacity: 0.6;
}

/* Header */

hr {
  width: 30%;
}

header {
  position: absolute;
  top: 20%;
  left: 20%;
}
header h1 {
  color: white;
  font-weight: bold;
  font-size: 60px;
  letter-spacing: 1.5;
  margin: 10px;
  position: relative;
  animation: header1 3s forwards;
}

@keyframes header1 {
  0% {
    left: -1000px;
  }

  100% {
    left: 0px;
  }
}

header h4 {
  position: relative;
  color: white;
  letter-spacing: 1.5;
  line-height: 2;
  font-size: 22px;
  animation: header4 3s forwards;
}
@keyframes header4 {
  0% {
    top: -500px;
  }

  100% {
    top: 0px;
  }
}

.firstLetter {
  font-size: 40px;
  font-weight: bold;
}
section.bg-image {
  background-image: url(https://cdn.pixabay.com/photo/2019/02/06/18/52/sunset-3979785_960_720.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  filter: brightness(0.6);
}

/* Modal Login form */

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  box-sizing: border-box;
}

.loginButton {
  background-color: transparent;
  color: white;
  padding: 10px 17px;
  margin: 0;
  border: none;
  cursor: pointer;
  width: auto;
  position: absolute;
  top: 0.8em;
  right: 1em;
  font-size: 20px;
}

.loginButton:hover {
  opacity: 0.8;
}

.submitbutton {
  width: auto;
  border-radius: 20%;
  border-color: #f53803;
  padding: 10px 18px;
  color: #333;
  font-weight: 900;
  background-image: linear-gradient(315deg, #fdfbfb 0%, #ebedee 74%);
}
.submitbutton:hover {
  color: black;
  cursor: pointer;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 20%;
  border-radius: 50%;
  padding-top: 1rem;
}

.container {
  padding: 16px;
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
}

span.password {
  float: right;
  padding-top: 16px;
}

/* The Modal background */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);

  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: none;
  width: 300px; /* Could be more or less, depending on screen size */
  margin-right: 2em;
  margin-top: 1em;
  border-radius: 20px 20px;
}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: rgb(255, 246, 246);
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(197, 73, 73);
  cursor: pointer;
}

/*  Zoom Animation */
.animate {
  animation: animatezoom 0.6s;
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Menu */

#menu {
  width: 35px;
  height: 30px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #fa2222;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}
#bar1 {
  transform: translateY(-4px);
}
#bar3 {
  transform: translateY(4px);
}
.nav li a {
  color: white;
  text-decoration: none;
}
.nav li a:hover {
  font-weight: bold;
}
.nav li {
  list-style: none;
  padding: 16px 0;
}
.nav {
  padding: 0;
  margin: 0 20px;
  transition: 0.3s ease;
  display: none;
}
.menu-bg,
#menu-bar {
  top: 0;
  left: 0;
  position: fixed;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #ff512f, #f09819);
  border-radius: 50%;
  transition: 0.3s ease;
}
#menu-bar {
  z-index: 2;
}
.change-bg {
  width: 550px;
  height: 540px;
  transform: translate(-60%, -30%);
}
.change .bar {
  background-color: white;
}
.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3 {
  transform: translateY(-6px) rotate(45deg);
}
.change #bar2 {
  opacity: 0;
}
.change {
  display: block;
}

/* Change styles for above parts on  small screens */

@media only screen and (max-width: 800px) {
  .loginButton {
    font-size: 20px;
  }
  span.password {
    display: block;
    float: none;
  }
  .submitbutton {
    width: 100%;
  }
  .modal-content {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  header h1 {
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 1.5;
    margin: 10px;
  }
  header h4 {
    color: white;
    letter-spacing: 0.25em;
    line-height: 1.5;
    font-size: 20px;
  }
  .firstLetter {
    font-size: 30px;
  }
  section.bg-image {
    background-image: url(https://images.unsplash.com/photo-1548693996-4555624c6649?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80);
    background-size: 100% 100%;
  }
}

/* Upper part finishes */

section ul li a {
  background-color: #f5d020;
  background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
}

/* awesome ones */
.awesomefont {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 4rem;
}

.awesome {
  text-align: center;
  padding: 1.5rem 2rem;
  line-height: 1.5;
}
.awesome i {
  margin-bottom: 1rem;
}

/* teachers styles as well as About us part */

.teachers {
  margin-top: 6rem;
  padding-bottom: 1rem;
}

.teachers ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

/*.teachers ul li {
  border: 1px solid #e2e2e2;
  border-radius: 10px;
}*/

.teachers ul li figure {
  height: 250px;
  overflow: hidden;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  position: relative;
}

.teachers ul li figure img {
  width: 100%;
  height: 100%;
  background-position: center;
}
.teachers ul li figure img:hover {
  transform: scale(1.15);
  transition: 2s;
}

.teachers ul li figure figcaption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
}

.teachers ul li figure figcaption h3 {
  color: white;
  padding: 0.75rem;
  font-size: 1.25rem;
}

.teachers ul li p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem 0.75rem;
  color: #666666;
}

.teachers ul li a {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
}

/* Photo Gallery*/

.gallerycontainer {
  width: 60%;
  margin: 5rem auto;
}

.gallerycontainer h1 {
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 0.5rem;
}

.galleryimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.galleryimg:hover {
  transform: scale(1.1);
  transition: 2s;
}

.galleryitem1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.galleryitem2 {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
}

.galleryitem3 {
  grid-column: 5 / span 4;
  grid-row: 1 / span 5;
}

.galleryitem4 {
  grid-column: 1 / span 4;
  grid-row: 3 / span 3;
}

.galleryitem5 {
  grid-column: 1 / span 4;
  grid-row: 6 / span 3;
}

.galleryitem6 {
  grid-column: 5 / span 4;
  grid-row: 6 / span 3;
}

/* Testimonial Slider using Animation */
#testimonials {
  overflow: hidden;
  margin-top: 7rem;
  margin-bottom: 7rem;
  text-align: center;
}
#testimonials h1 {
  padding-bottom: 2rem;
}
#testimonials .talk {
  position: relative;
  width: 400%;
  margin: 0;
  left: 0;
  animation: 30s slider infinite;
}
.cards {
  border-radius: 5px;
  text-align: center;
}

.card img {
  border-radius: 45%;
  width: 15rem;
}

.cardcontainer {
  padding: 5px 16px;
}
.talk .cards {
  float: left;
  width: 25%;
}

@keyframes slider {
  0% {
    left: 0;
  }
  15% {
    left: 0;
  }

  25% {
    left: -100%;
  }
  35% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  60% {
    left: -200%;
  }
  85% {
    left: -300%;
  }
  100% {
    left: -300%;
  }
}

/* footer */

footer {
  background-color: #333;
  color: white;
  text-align: center;
  font-size: 0.75rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 2fr));
  padding: 3rem 1rem;
}
.googleMap img {
  width: 15rem;
}

footer ul li a {
  font-size: 1rem;
  line-height: 2rem;
}
footer p {
  font-size: 1rem;
  text-align: center;
  grid-column: 1/5;
  margin-top: 1rem;
}

.contact {
  line-height: 3;
  font-size: 1rem;
}

.contact i {
  margin-right: 10px;
  margin-left: 10px;
}

@media only screen and (max-width: 800px) {
  footer {
    grid-template-columns: 1fr 1fr;
  }

  .googleMap {
    display: none;
  }
  .contact {
    grid-column: 1/3;
  }
}
