/* I have experimented with CSS Grid and its template areas as well as other ways of setting the grids */

@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400");
/* General styles*/

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  border-radius: 0.25rem;
  text-align: center;
  display: inline-block;
  transition: all 0.3s;
}

a:hover {
  opacity: 0.6;
}

/* Header */

hr {
  width: 30%;
}

header {
  position: absolute;
  top: 20%;
  left: 20%;
}
header h1 {
  color: #fff;
  font-weight: bold;
  font-size: 60px;
  letter-spacing: 1.5;
  margin: 10px;
}
header h4 {
  color: #fff;
  letter-spacing: 1.5;
  line-height: 2;
  font-size: 22px;
}
header .fas {
  position: absolute;
  left: 50%;
}
.firstLetter {
  font-size: 40px;
  font-weight: bold;
}
section.bg-image {
  background-image: url(https://cdn.pixabay.com/photo/2019/02/06/18/52/sunset-3979785_960_720.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  filter: brightness(0.3);
}

/* Modal Login form */
/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.loginButton {
  background-color: transparent;
  color: white;
  padding: 10px 17px;
  margin: 0;
  border: none;
  cursor: pointer;
  width: auto;
  position: absolute;
  top: 0.8em;
  right: 1em;
  font-size: 20px;
}

.loginButton:hover {
  opacity: 0.8;
}

/* Extra styles for the Submit Button button */
.submitbtn {
  width: auto;
  border-radius: 20%;
  border-color: #f53803;
  padding: 10px 18px;
  color: #fff;
  font-weight: bold;
  background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
}
.submitbtn:hover {
  color: black;
  cursor: pointer;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 20%;
  border-radius: 50%;
  padding-top: 1rem;
}

.container {
  padding: 16px;
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  right: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);

  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: none;
  width: 300px; /* Could be more or less, depending on screen size */
  margin-right: 2em;
  margin-top: 1em;
  border-radius: 20px 20px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: rgb(255, 246, 246);
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(197, 73, 73);
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Menu */

#menu {
  width: 35px;
  height: 30px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}
.bar {
  height: 5px;
  width: 100%;
  background-color: #fa2222;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}
#bar1 {
  transform: translateY(-4px);
}
#bar3 {
  transform: translateY(4px);
}
.nav li a {
  color: #fff;
  text-decoration: none;
}
.nav li a:hover {
  font-weight: bold;
}
.nav li {
  list-style: none;
  padding: 16px 0;
}
.nav {
  padding: 0;
  margin: 0 20px;
  transition: 0.3s ease;
  display: none;
}
.menu-bg,
#menu-bar {
  top: 0;
  left: 0;
  position: fixed;
}
article div {
  height: 900px;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #ff512f, #f09819);
  border-radius: 50%;
  transition: 0.3s ease;
}
#menu-bar {
  z-index: 2;
}
.change-bg {
  width: 550px;
  height: 540px;
  transform: translate(-60%, -30%);
}
.change .bar {
  background-color: white;
}
.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3 {
  transform: translateY(-6px) rotate(45deg);
}
.change #bar2 {
  opacity: 0;
}
.change {
  display: block;
}

/* Change styles for span and Submit button on  small screens */
@media only screen and (max-width: 800px) {
  .loginButton {
    font-size: 20px;
  }
  span.psw {
    display: block;
    float: none;
  }
  .submitbtn {
    width: 100%;
  }
  .modal-content {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  header h1 {
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 1.5;
    margin: 10px;
  }
  header h4 {
    color: #fff;
    letter-spacing: 0.25em;
    line-height: 1.5;
    font-size: 20px;
  }
  .firstLetter {
    font-size: 30px;
  }
  section.bg-image {
    background-image: url(https://images.unsplash.com/photo-1548693996-4555624c6649?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80);
    background-size: 100% 100%;
  }
}

/* Upper part finishes */

.btn {
  background: var(--dark);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}

img {
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

/* Navigation */

/* Top Container */
.top-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "showcase showcase top-box-a"
    "showcase showcase top-box-b";
}

/* Showcase */
.showcase {
  grid-area: showcase;
  min-height: 400px;
  background: url(https://image.ibb.co/kYJK8x/showcase.jpg);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: var(--shadow);
}

.showcase h1 {
  font-size: 4rem;
  margin-bottom: 0;
  color: var(--light);
}

.showcase p {
  font-size: 1.3rem;
  margin-top: 0;
  color: var(--light);
}

section ul li a {
  background-color: #f5d020;
  background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
}
/* Styles for the hero image */
.hero {
  /* Photo by mnm.all on Unsplash */
  background: url("https://images.unsplash.com/photo-1548694033-ca07df7e0a49?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80")
    center;
  background-size: cover;
  padding: 8rem 2rem;
  /* grid styles */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
}

.hero > * {
  color: white;
}

.hero > div > h1 {
  font-size: 4rem;
  padding-bottom: 1rem;
}
.flamencool {
  color: red;
}

.hero > article > p {
  font-size: 1.5rem;
  font-weight: 200;
}

.hero > article > a {
  padding: 1rem;
  margin-top: 0.75rem;
}
.abouttext {
  padding: 0 2rem;
}
/* Top Box */
.top-box {
  background: white;
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: var(--shadow);
  padding: 1.5rem;
}

.top-box .price {
  font-size: 2.5rem;
}

.top-box-a {
  grid-area: top-box-a;
}

.top-box-b {
  grid-area: top-box-b;
}

/* Boxes */
.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 4rem;
}

.box {
  background: var(--light);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
}

/* breweries styles */
.breweries {
  padding: 2rem;
  margin-top: 6rem;
}
.figure1 {
}
.breweries > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.breweries > ul > li {
  /*border: 1px solid #e2e2e2;
  border-radius: 0.5rem;*/
}

.breweries > ul > li > figure {
  height: 250px;
  overflow: hidden;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  position: relative;
}

.breweries > ul > li > figure > img {
  width: 100%;
  height: 100%;
  background-position: center;
}

.breweries > ul > li > figure > figcaption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
}

.breweries > ul > li > figure > figcaption > h3 {
  color: white;
  padding: 0.75rem;
  font-size: 1.25rem;
}

.breweries > ul > li > p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem 0.75rem;
  color: #666666;
}

.breweries > ul > li > a {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
}

/* footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  font-size: 0.75rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 2fr));
  padding: 3rem 1rem;
}
@media only screen and (max-width: 800px) {
  footer {
    grid-template-columns: repeat(auto-fit, minmax(120px, 2fr));
  }
  iframe {
    grid-column: 1/4;
  }
  footer p {
    grid-column: 2/4;
  }
}
footer ul li a {
  font-size: 1rem;
  line-height: 2rem;
}
footer p {
  font-size: 1rem;
  text-align: right;
}

/* google map */
iframe {
  width: 100%;
  height: 200;
}
